@font-face {
  font-family: adawaita-sans;
  src: url(AdwaitaSans-Regular.ttf);
}

body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1em;
  height:100%
}
input { font-family: sans-serif; font-size: 1em; }
#main{
  height:100%;
}
#endpoints-tabbed{
  min-height: 0;
  height:97%;
  box-sizing: border-box;
}
#main ui-content {
  display: flex;
  gap: 0;
  padding-top:0;
  height:90%;
  box-sizing: border-box;
}

.resourcelist {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: scroll;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #aaa;
  height: 100%;
  box-sizing: border-box;
}

[is="x-ui-"] ui-content > ui-area.detail_sidebar {
  overflow-x: auto;
  overflow-y: scroll;
  height: 100%;
  box-sizing: border-box;
  padding-left:0.6em;
}

.resource_table td.link {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
#schema_editor {
  width: 100%;
}
#schema_preview {
  padding-bottom: 20px; 
}
.detail_div {padding-bottom: 20px;}
.detail_div tr:nth-child(1) td {font-size: large}
.detail_div tr:nth-child(2) td {font-size: large;}
#symbol_editor {
  width: 100%;
}
option.current {background-color: #cc0000;}
.symbol_preview {
  padding: 15px; 
  height: 60px; 
  width: 800px;
}
.symbol_preview label{vertical-align: top; padding-right:4px; font-family: adawaita-sans;}
.symbol_preview svg {overflow: visible;}
#symbol_preview_interactive_div {display:flex}
#symbol_preview_interactive_div table {vertical-align: top;}
#symbol_preview_interactive_div table td{vertical-align: top;}
#symbol_preview_interactive_div button{font-size: small;min-width: 17px;}
#symbol_preview_interactive_div_old {display:flex}
#symbol_preview_interactive_div_old.hidden {display:none}
#symbol_preview_interactive_div_old table {vertical-align: top;}
#symbol_preview_interactive_div_old table td{vertical-align: top;}
#symbol_preview_interactive_div_old button{font-size: small;min-width: 17px;}
.resource_table { 
  table-layout:fixed; 
  width: 100%;
  box-sizing: border-box; 
  word-break: break-all;
}
.general_resource td:nth-child(1) {background:#dce695;width: 75%; padding-right: 3em; }
.general_resource.detail_selected td:nth-child(1){background:#eb280e;}
.general_resource td:nth-child(2) {width: 25%; min-width: 80px;}
details {
  background:#e3e0f1
}
.empty details { 
  background:#aa9de4
}
details table {
  width:100%
}
#resourceurlcontent input {width: 30em;}

td.div_title {font-size: 1.5em; font-weight: bold; margin-left: 3px;}

#add_property {margin-left: 50px;}

.create_new input{width:30em}

.hover td.link{cursor: pointer;}

